

.event img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  
/*animation ligne d'événements*/

.event {
    animation: slide-in-bottom  2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  .event h2 {
    color: var(--bleu);
    font-weight: 900;
    text-transform: uppercase;
  }
  
  .event hr {
    background-color: #f6e542;
    margin: 20px 0px;
  }

  /* base.html */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
  
:root {
  --bleu: #1752a8;
  --jaune: #f6e542;
}

/*Navigation*/
.nav-link {
  font-size: 18px;
}

.nav-link:hover {
  background: var(--bleu);
  color: var(--jaune) !important;
}

nav .active {
  background: var(--bleu);
  color: var(--jaune) !important;
}

/* Bouton */
.bouton i {
  padding: 10px;
}

.bouton {
    animation: slide-in-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* Zone de contact */

.contact {
  height: 200px;
}

.contact h3 {
  font-size: 50px;
  font-weight: 900;
}

.contact a {
  width: 200px;
  text-align: center;
}


/* baniere des pages */


.baniere-actualites,
.baniere-parents,
.baniere-doc,
.baniere-ecole, 
.baniere-contact {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 150px;
  margin-top: 80px;
}

.baniere-actualites h1,
.baniere-parents h1,
.baniere-doc h1,
.baniere-ecole h1,
.baniere-contact h1 {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* home.html */

/* Baniere */

/* .baniere,
.lien-info,
.contact {
    background-image: url("../images/ecole.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
} */

.baniere {
  height: 700px;
}

.lien-info {
  height: 30vh;
}

.titre {
  font-family: 'Merriweather', serif;
  letter-spacing: 0.5rem;
  font-size: 50px;
  font-weight: bold;
  animation: roll-in-left 1.5s ease-out both;
}

.baniere a,
.cards a,
.contact a,
.content a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background: var(--bleu);
  font-size: 20px;
  padding: 5px;
  border-radius: 3px;
}

.baniere a:hover,
.cards a:hover,
.contact a:hover,
.content a:hover {
  background-color: var(--jaune);
  color: #1752a8;
  transition: 0.5s;
}

img {
  margin: auto;
}

/* association */

.association {
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.association h2 {
  font-family: 'Merriweather', serif;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: var(--bleu);
  font-size: 40px;
  font-weight: 900;
}

.accordeon,
.card {
  background: #f7f5ed;
  border: none;
}

.image-reunion img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.association .accordeon {
  font-weight: 900;
  font-size: 20px;
  padding-right: 50px;
}

/* liens  */

hr {
  background-color: white;
  width: 50px;
  margin: auto;
  padding-bottom: 3px;
  opacity: 1;
}

.lien-info {
  height: 30vh;
}

.lien-info h3 {
  font-size: 30px;
  font-weight: 900;
  margin-top: 50px;
}

.lien-info a {
  text-decoration: none;
}

.lien-info i {
  font-size: 50px;
}

.lien {
  color: white;
  cursor: pointer;
}

.lien:hover {
  color: var(--jaune);
}

/* cards */

.cards a {
  font-size: 15px;
  color: white;
}

.card:hover {
  border: 2px var(--jaune) solid ;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


