

.event img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  
/*animation ligne d'événements*/

.event {
    animation: slide-in-bottom  2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  .event h2 {
    color: var(--bleu);
    font-weight: 900;
    text-transform: uppercase;
  }
  
  .event hr {
    background-color: #f6e542;
    margin: 20px 0px;
  }