{% extends 'base.html.twig' %}

{% block content %}
<style>
    .contact {
        background-image: url("{{ asset('assets/images/ecole.jpg')}}");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
    }

    .baniere-ecole {
        background-image: url("{{ asset('assets/images/books.jpg')}}");
        padding: 50px;
    }
</style>
    <main>
        <section class="baniere-ecole d-flex justify-content-center " >
            <h1 class="align-self-center">Informations école / ALAE</Em></h1>
        </section>
        <section class="ecole d-flex justify-content-center mt-5" style="height:400px">
            <div class="accordion accordion-flush w-50" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordeon accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                     Evènements
                    </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                        </div>
                    </div>
                  </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordeon accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Trombinoscope
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
          
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class=" accordeon accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseTrue">
                      Menus cantine
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <a href="http://www.stpierredelages.fr/SITE/index.php?option=com_content&view=category&id=53&Itemid=88">Menu Mairie</a>
                    </div>
                  </div>
                </div>
              </div>
    
        </section>
        <section class="contact d-flex justify-content-center align-items-center text-white ">
          <div class="row d-flex justify-content-between align-items-center text-white w-100 px-5">
              <div class="col-lg-6 justify-content-center">
              <h3 class="text-center fs-md-5">Contactez nous</h3>
              </div>
              <div class="col-lg-6 d-flex justify-content-center">
              <a href="{{ path('contact') }}" >Contact</a>
              </div>
          </div>
        </section>
    </main>

{% endblock %}
